<h1><i class="fa fa-briefcase"></i> Portfolio: KnowYour.Fish <a
  href="https://vericatch.com/products/knowyourfish"><i class="fa fa-external-link-alt"></i></a></h1>

<img src="../assets/images/resume/knowyourfish.png" class="align-right img-responsive" width="400px" />

<p markdown="1">Collects data from commercial fishing trips using an Android app, and transforms it with _Ruby on
  Rails_ into a visual timeline of how a fish was sourced & sold.</p>

<ul class="fa-ul">
    <li><i class="fas fa-li fa-tachometer-alt" aria-hidden="true"></i><span markdown="1">**Improved database performance** - Trained to audit Rails applications SQL logs for performance opportunities & reduce bottlenecks.</span></li>
    <li><i class="fas fa-li fa-chart-line" aria-hidden="true"></i><span markdown="1">**Increased Test Coverage** - Over +1,600 tests existed & ran for over 25 minutes. Reduced run times, measured test coverage increases with _CodeCov_, & integrated _CircleCI & CodeComplete_ automated tests into _Github_.</span></li>
    <li><i class="fas fa-li fa-code" aria-hidden="true"></i><span markdown="1">**Front-End HTML/CSS + Javascript.** Expanded existing public & private UI for _Ruby on Rails_ applications using best practices for responsive, mobile-friendly designs & maintaining consistency with existing _Twitter Bootstrap_ layout.</span></li>
</ul>

<div style="clear: right;"></div>
