<h1><i class="fa fa-briefcase"></i> Portfolio: KnowYour.Fish <a
  href="https://vericatch.com/products/knowyourfish" target="_blank"><i class="fa fa-external-link-alt"></i></a></h1>

<img src="../assets/images/resume/knowyourfish.png" class="align-right img-responsive" width="400px" />

<p markdown="1">Transforms real data from fisheries into a visual timeline of how a fish was sourced & sold.</p>

<ul class="fa-ul">
  <li><i class="fas fa-li fa-tachometer-alt" aria-hidden="true"></i><span markdown="1">**Improved PostgreSQL performance** - Audited Rails applications for performance opportunities & reduce bottlenecks.</span></li>
  <li><i class="fas fa-li fa-chart-line" aria-hidden="true"></i><span markdown="1">**Increased Test Coverage** - Reduced runtime for a suite of +1,600 RSpec tests, integrated _CircleCI & CodeComplete_ automation into _Github_, added tests for every feature.</span></li>
  <li><i class="fas fa-li fa-code" aria-hidden="true"></i><span markdown="1">**Front-End HTML/CSS + Javascript.** Expanded existing public & private UI for three _Ruby on Rails_ applications & maintained a responsive, mobile-friendly layout.</span></li>
</ul>

<div style="clear: right;"></div>
