<h1>Work & Experience</h1>
<div class="timeline">
  <ul>
    <li>
      <div class="content">
        <p>Worked remotely as a PHP developer</p>
      </div>
      <div class="time">
        <h4>2003 - 2004</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <p>Attended <em>University of Alberta</em> for Computing Science</p>
      </div>
      <div class="time">
        <h4>2005 - 2005</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3>Freelance Client</h3>
        <p>Built a website in Ruby on Rails</p>
      </div>
      <div class="time">
        <h4>2007 - 2008</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3>Rogers Wireless, Langley, BC</h3>
        <p><em>Retail Sales Specialist</em></p>
        <p>Won multiple awards and received a commendation letter from the VP of Sales</p>
      </div>
      <div class="time">
        <h4>2012 - 2017</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3>Vericatch Solutions</h3>
        <p><em>Software Developer (Ruby on Rails)</em></p>
      </div>
      <div class="time">
        <h4>Apr - Oct 2018</h4>
      </div>
    </li>
    <div style="clear:both;"></div>
  </ul>
</div>
