<style>.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}</style>
<div class='embed-container'>
  <iframe title="YouTube video player" width="{{ include.width | default: 640}}" height="{{ include.width | default: 390}}"
          frameborder=0 src="https://www.youtube.com/embed/{{ include.id }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
