<h1><i class="fa fa-hat-wizard"></i> HTML/CSS Wizard</h1>

<ul class="fa-ul">
  <li><i class="fas fa-li fa-mobile-alt" aria-hidden="true"></i><span markdown="1">Creating _**responsive**_ designs that render flawlessly on desktop & mobile</span></li>
  <li><i class="fab fa-li fa-figma" aria-hidden="true"></i><span markdown="1">Digital design with **Figma** & **Canva**</span></li>
  <li><i class="fas fa-li fa-th" aria-hidden="true"></i><span markdown="1">Create layouts in seconds with **CSS Grid**</span></li>
  <li><i class="fab fa-li fa-bootstrap" aria-hidden="true"></i><span markdown="1">Styled with **Twitter Bootstrap**</span></li>
  <li><i class="fa fa-li fa-font" aria-hidden="true"></i><span markdown="1">**Typography**: Styling, Pairing, & Choosing Fonts</span></li>
</ul>
